<h1>New Article</h1>
<h1>Form builder, crea de manera sencilla el formulario</h1>
<h1>full_messages_for devuelve un array con mensajes al usuario</h1>

<h1>Los "parciales" deben escribirse con _nombreLeQuieroDar, mientras que cuando utilizo render es sin el _</h1>
<%= render "form", article: @article %>